.regular-12 {
  font-size: 12px;
  line-height: 18px;
}

.regular-14 {
  font-size: 14px;
  line-height: 20px;
}

.regular-16 {
  font-size: 16px;
  line-height: 22px;
}

.regular-18 {
  font-size: 18px;
  line-height: 24px;
}

.regular-20 {
  font-size: 20px;
  line-height: 26px;
}

.regular-22 {
  font-size: 22px;
  line-height: 28px;
}

.regular-24 {
  font-size: 24px;
  line-height: 30px;
}

.regular-26 {
  font-size: 26px;
  line-height: 32px;
}

.regular-28 {
  font-size: 28px;
  line-height: 34px;
}

.regular-40 {
  font-size: 40px;
  line-height: 46px;
}